nav{
    padding-top: 50px;
    height: 100px;
    padding-left: 50px;
}

.main{
    color: rgb(28, 32, 34);
    margin-left: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.main1{
    padding: 8px;

}

.main2{
    padding: 8px;

}

.main3{
    padding: 8px;

}

.main4{
    padding: 8px;

}

.main5{
    padding: 8px;
  
}

.content{
    color: white;
    background-color: rgb(0, 1, 14);
    height: 500px;
    width: 300px;
    margin-right: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.content1{
    color: orange;
    font-weight: bold;
}

#abc{
    display: flex;
    justify-content: space-between;
}

#new{
    display: flex;

}


.new1{
    color: rgb(28, 32, 34);
    width: 170px;
    height: 50px;
    margin-top: -70px;
    
}

.new2{
    margin-top: -70px;
    width: 600px;
    margin-left: 200px;
}

#btn{
    margin-top: -2px;
    margin-left: -600px;
    width: 150px;
    background-color: tomato;
    color: black;
}

.add{
    color: red;
    margin-bottom: 300px;
}

#img{
    display: flex;
}

