nav{
    padding-top: 50px;
    height: 100px;
    padding-left: 50px;
}

.main{
    color: black;
    margin-left: 1000px;
    font-family: 'Courier New', Courier, monospace;
    
}

.main1{
    padding: 8px;

}

.main2{
    padding: 8px;

}

.main3{
    padding: 8px;

}

.main4{
    padding: 8px;

}

.main5{
    padding: 8px;
  
}

